Classroom Info

<%= render partial: 'classroom',
locals: {classroom: @classroom} %>
<p>We now want to call out the oldest student in the class:</p>
<%= render partial: 'students/student',
locals: {student: @classroom.oldest_student} %>

<% @classroom.students.each do |student_to_show|%>
    <%= render partial: 'students/student',
      locals: {student: student_to_show} %>
<%end%>