<h3>
  Classroom Info
</h3>

<p>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
</p>

All Students in the class:

<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>